<app-navbar></app-navbar>

<ion-content>
  <div class="title">
    <h1>Welcome to Magnificent Code Education Adventure</h1>
  </div>
  <section class="langs">
    <h2>Choose your path to start your adventure today</h2>
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="3" *ngFor="let lang of langs">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>{{lang.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="lang.img" alt="">
          </ion-card-content>
          <ion-card-subtitle>{{lang.desc}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>


  <div class="title">
    <h1>Meet the team</h1>
  </div>
  <section class="teams">
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="3" *ngFor="let team of teams">
        <ion-card class="card-team">
          <ion-card-header>
            <ion-card-title>{{team.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="team.img" alt="">
          </ion-card-content>
          <ion-card-subtitle>{{team.desc}}</ion-card-subtitle>
          <ion-card-subtitle>
            <a [href]="team.gh" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-github"></ion-icon> </a>
            <a [href]="team.li" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-linkedin"></ion-icon></a>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>





  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>