.title {
    text-align: center;
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        margin: 4rem 0;
        font-weight: 100;
    }
}
.description {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    color: hsl(0, 0%, 50%);
    padding: 0 1rem;
}
.col {
    padding: 1rem;
    margin-top: 2rem;
    form {
        max-width: 30rem;
        margin: 0 auto;
    }
    h2 {
        margin-bottom: 4rem;
    }
    .input {
        margin: 3rem 0;
    }
    .form-button {
        width: 100%;
    }
}